.flex-container{
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.containerImagen{
    width: 50%;
    height: 50%;   
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}