.flex-container{
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.containerImagen{
    width: 30%;
    height: 100%;   
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

.sinopsis{
    width: 80%;
    margin: auto;
}

.comprar, link{
    color: black;
    text-decoration: none;
}