.ancho{
    display: flex;
    width: 100%;
}

.imgContainer{
    width: 50%;
}

.infoContainer{
    width: 50%;
}

.centrado{
    text-align: center;
}

.compra{
    text-decoration: none;
    color: black;
}
.compra:hover{
    color: antiquewhite;
}
